

{extends file='page.htm'}

{block name="pageTitle"}{$collection->getTitle()|escape}{/block}

{block name="main"}

	<script type="text/javascript">
		var markerData = {   };
		var collectionID = {$collection->getId()};
		var inHiddenCollection = false;
	</script>
	
	<div style="width: 490px; float: right;">
		<h2 class="category-{$collection->getSlug()}">{$collection->getTitle()|escape}</h2>
		
		<div class="above-list-content">
			{capture name="blockName"}above_collection_as_list_{$collection->getSlug()}{/capture}
			{CMSContent::renderBlock($smarty.capture.blockName)}
		</div>
		
	{capture name="urlNoLetter"}/collectionAsList.php?c={$collection->getSlug()}{/capture}
	{a2z url=$smarty.capture.urlNoLetter active=$activeLetter}
		{if $activeLetter}<a class="atozViewAll" href="/collectionAsList.php?c={$collection->getSlug()}">View All</a>{/if}<p>{$itemSearch->numOnAllPages()} {$collection->getTitle()|escape} found.</p>
		
		
		<ul class="collectionList" id="collectionListList">
			{while $item = $itemSearch->nextResult()}
				{$feature = $item->getFeature()}
				<li class="cf" id="collectionListItem{$item->getFeatureID()|escape}">
					{if $feature->getThumbnailURL()}
						<img src="{$feature->getThumbnailURL()}">
					{/if}
					<h3><a href="/featureDetails.php?id={$item->getFeatureID()|escape}">{$item->getTitle()|escape}</a></h3>
					<p>{$item->getDescription()|truncate:180:"..."|escape}</p>
					<ul>
						{foreach $item->getChildCollectionIDs() as $id}
							{if !$hiddenCollection || $id != $hiddenCollection->getId()}
								<li><img src="{$collections[$id]->getIconURL()}?v={$assetsVersion}" title="{$collections[$id]->getTitle()}"></li>
							{/if}
						{/foreach}
					</ul>
					{$parentItem = $item->getParentItem()}
					{if $parentItem}
						<p>In: <a href="/featureDetails.php?id={$parentItem->getFeatureID()|escape}">{$parentItem->getTitle()|escape}</a></p>
					{/if}
				</li>
				<script type="text/javascript">				
					markerData[{$item->getFeatureID()|escape}] = { lat: {$feature->getPointLat()} , lng: {$feature->getPointLng()},collectionID: {$item->getCollectionID()} , title: "{$item->getTitle()|escape}"    ,  thumbnailURL: "{$feature->getThumbnailURL()}"    };
				</script>
			{/while}	
		</ul>
		
	{capture name="url"}/collectionAsList.php?c={$collection->getSlug()}&letter={$activeLetter}{/capture}
	{include file="paging.htm" search=$itemSearch url=$smarty.capture.url}

	</div>
	<div id="map" style="width: 370px; height: 400px; position: relative; margin-top: 79px;"></div>	
{/block}


{block name="finalScripts"}
	<script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.5&sensor=false&key={$Config->GOOGLE_MAP_API_KEY}"></script>
	<script type="text/javascript" src="/mapVariables.js.php?v={$assetsVersion}"></script>
	<script type="text/javascript" src="/js_style/mapStyle.js?v={$assetsVersion}"></script>
	<script type="text/javascript" src="/js/mapOnListPage.js?v={$assetsVersion}"></script>
{/block}


