{extends file='page.htm'}

{block name="main"}

	<div id="eventWrapper" class="cf">

		<div id="eventDetails">
			
			<h2 class="title">{$event->getTitle()|escape}</h2>
			<p class="description">{$event->getDescriptionText()|escape|nl2br|linkify}</p>
			<p class="datetime">{$event->getStartAt()|date_format_local} to {$event->getEndAt()|date_format_local}</p>

			{if $featureSearch->num()}
				<ul class="featureList">
					{while $feature = $featureSearch->nextResult()}
						<li class="cf">
							{if $feature->getThumbnailURL()}
								<img src="{$feature->getThumbnailURL()}">
							{/if}
							<h3><a href="/featureDetails.php?id={$feature->getID()|escape}">{$feature->getTitle()|escape}</a></h3>
						</li>
					{/while}
				</ul>
			{/if}
			
		</div>

		<div id="otherEvents">
			
			<h2>Future Events</h2>
			
			<ul class="events">
				{while $futureEvent = $eventSearch->nextResult()}
					<li>
						<h3 class="title"><a href="/event.php?id={$futureEvent->getId()}">{$futureEvent->getTitle()|escape}</a></h3>
						<p class="description">{$futureEvent->getDescriptionText()|escape|nl2br|linkify}</p>
						<p class="datetime">{$futureEvent->getStartAt()|date_format_local} to {$futureEvent->getEndAt()|date_format_local}</p>
					</li>
				{/while}	
			</ul>
			
		</div>

	</div>

{/block}

