{extends file='page.htm'}

{block name="main"}

	<div id="eventWrapper" class="cf">

		<div id="eventDetails">
			
			<h2>{$event->getTitle()|escape}</h2>
			<p>{$event->getDescriptionText()|escape|nl2br|linkify}</p>
			<p>{$event->getStartAt()|date_format_local} to {$event->getEndAt()|date_format_local}</p>

		</div>

		<div id="otherEvents">
			
			<h2>Future Events</h2>
			
			<ul class="events">
				{while $futureEvent = $eventSearch->nextResult()}
					<li>
						<h3 class="title">{$futureEvent->getTitle()|escape}</h3>
						<p class="description">{$futureEvent->getDescriptionText()|escape|nl2br}</p>
						<p class="datetime">{$futureEvent->getStartAt()|date_format_local} to {$futureEvent->getEndAt()|date_format_local}</p>
					</li>
				{/while}	
			</ul>
			
		</div>

	</div>

{/block}

