{extends file='featurePage.htm'}

{block name="main"}


	{if $childItemSearch}
	
	<div class="featureDetailsChildren">
		{if $childItemSearch->num() > 0}
			<h3>There are {$childItemSearch->numOnAllPages()} features here.</h3>
			<ul class="collectionList withIcon">
				{assign "lastSlugSeen" ""}
				{while $item = $childItemSearch->nextResult()}
					{$childFeature = $item->getFeature()}
					{if $lastSlugSeen != $collections[$item->getCollectionID()]->getSlug()}
						<li class="cf">
							<h2 class="category-{$collections[$item->getCollectionID()]->getSlug()}">
								{$collections[$item->getCollectionID()]->getTitle()|escape}
							</h2>
						</li>
					{/if}
					{assign "lastSlugSeen" $collections[$item->getCollectionID()]->getSlug()}
					<li class="cf" style="background-image: url('{$collections[$item->getCollectionID()]->getIconURL()}')">
						
						{if $childFeature->getThumbnailURL()}
							<img src="{$childFeature->getThumbnailURL()}">
						{/if}						
						<h3 class="category-{$collections[$item->getCollectionID()]->getSlug()}">
							<a href="/featureDetails.php?id={$item->getFeatureID()}">{$item->getTitleField()->getValueAsShortHumanReadableHTML()}</a>
						</h3>
						<p>{$item->getDescription()|truncate:180:"..."|escape}</p>
					</li>
				{/while}
			</ul>
		{/if}	
		
		{capture name="url"}/featureChildren.php?id={$feature->getId()}{/capture}
		{include file="paging.htm" search=$childItemSearch url=$smarty.capture.url}

	</div>
	
	{else}
	<p>No details to show.</p>
	{/if}
{/block}

