{extends file='page.htm'}

{block name="subpage"}
	{include file="featureHeaderBar.htm"}
{/block}


{block name="main"}


	{CMSContent::renderBlock('above_feature_checkin')}

	<div class="">
		<h3>Explore</h3>
		{if count($featureCheckInQuestions) > 0}
			<ul class="checkInQuestions">
				{foreach $featureCheckInQuestions as $featureCheckInQuestion}
					<li class="cf">
						<p class="question">{$featureCheckInQuestion->getQuestion()|escape|nl2br}</p>
						
						{if $currentUser}
							{if $featureCheckInQuestion->hasAnswered($currentUser)}
								<p class="done">You have already answered this question!</p>
								
								{if $featureCheckInQuestion->getAnswerExplanation()}
									<div class="explanation">{$featureCheckInQuestion->getAnswerExplanation()}</div>
								{/if}
							{else}		
								{* some questions can only be answered once *}
								{if $featureCheckInQuestion->getQuestionType() == "FREETEXT" }
									<div class="answerForm">
										<form enctype="multipart/form-data" action="" method="post">
											<input type="hidden" name="CSFRToken" value="{$CSFRToken}">
											<input type="hidden" name="questionID" value="{$featureCheckInQuestion->getId()}">
											<input type="text" name="answer">
											<input type="submit" value="Submit Answer">								
										</form>
									</div>
								{/if}
							{/if}
							{* but some questions can be answered multiple times *}
							{if $featureCheckInQuestion->getQuestionType() == "CONTENT" }
								<div class="answerForm">
									<a href="/featureContent.php?id={$feature->getId()}#new-content-form">Try to answer this question</a>
								</div>
							{/if}
						{/if}
						
					</li>
				{/foreach}
			</ul>
		
			{if !$currentUser}
				<p>You must log in to answer questions.</p>
			{/if}
		
		{/if}		
	</div>
{/block}

