{* an "abstract" template, used by all feature pages. eg featureDetails, featureContent, ... *}

{extends file='page.htm'}

{block name="pageTitle"}
	{$titleItem = $feature->getTitleItem()}
	{if $titleItem}
		{$titleCollection = $titleItem->getCollection()}		
		{$titleCollection->getTitle()|escape}: {$titleItem->getTitle()|escape}
	{/if}
{/block}


{block name="subpage"}
	<div id="fb-root"></div>
	<div class="detailsPageHeader cf">

		{$titleItem = $feature->getTitleItem()}
		{if $titleItem}
			{$titleCollection = $titleItem->getCollection()}		
			<h2><span class="category-{$titleCollection->getSlug()}">{$titleCollection->getTitle()|escape}:</span> {$titleItem->getTitle()|escape}</h2>
		{else}
			<h2>Welcome</h2>
		{/if}

		<ul>
			<li {if $smarty.server.PHP_SELF == '/featureDetails.php'}class="current"{/if}><a href="/featureDetails.php?id={$feature->getId()}">Details</a><div class="arrow"></li>
			{if $feature->getCountChildItemsNotInHiddenCollection() > 0}
				<li {if $smarty.server.PHP_SELF == '/featureChildren.php'}class="current"{/if}><a href="/featureChildren.php?id={$feature->getId()}">Features</a><div class="arrow"></li>
			{/if}
			<li {if $smarty.server.PHP_SELF == '/featureContent.php'}class="current"{/if}><a href="/featureContent.php?id={$feature->getId()}">Add Comment</a><div class="arrow"></li>
			<li {if $smarty.server.PHP_SELF == '/featureReports.php'}class="current"{/if}><a href="/featureReports.php?id={$feature->getId()}">Report It</a><div class="arrow"></li>
			{if $feature->hasCheckedInQuestions()}
				<li {if $smarty.server.PHP_SELF == '/featureCheckin.php'}class="current"{/if}><a href="/featureDetails.php?id={$feature->getId()}#Checkin">Explore</a><div class="arrow"></li>
			{/if}
		</ul>

	</div>
{/block}
