<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>{block name="pageTitle"}{/block} {$siteTitle}</title>

		<link rel="stylesheet" href="/css/reset.css?v={$assetsVersion}" type="text/css" />
		<link rel="stylesheet" href="/css/main.css?v={$assetsVersion}" type="text/css" />
		{if $currentUser && $currentUser->isAdministrator()}
			<link rel="stylesheet" href="/css/admin/normalSite.css?v={$assetsVersion}" type="text/css" />
		{/if}
		<script src="/js/jquery-1.7.2.min.js?v={$assetsVersion}"></script>
		{if $Config->GOOGLE_ANALYTICS_CODE}
			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '{$Config->GOOGLE_ANALYTICS_CODE}']);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>	
		{/if}
		<link rel="stylesheet" href="/css/slimbox2.css?v={$assetsVersion}" type="text/css" />
		<link rel="stylesheet" href="/css/contentflow.css?v={$assetsVersion}" type="text/css" />
	</head>
	<body {if $inHomeTab}{if $showCookieInfo}class="headerHomeShowCookie"{else}class="headerHome"{/if}{/if}>
		<div id="header" class="wrapper">
			{if $showCookieInfo}
				<div id="cookieConsent">
					<form name="frmAcceptCookies" method="post">
						We use cookies to improve your experience. By viewing our content you are accepting the use of cookies. <a href="/privacyPolicy.php">About cookies we use</a>.
						<input type="submit" name="acceptCookieContinue" value="Continue" class="button"></input>
					</form>
				</div>
			{/if}
			<div id="brand" class="cf">
				<div id="account-links">
					{if $currentUser}
						You are logged in as <strong>{$currentUser->getName()|escape}</strong>
						<a href="{$mostSecureDomain}/myAccount/" title="My Account">My Account</a>
						<a href="{$mostSecureDomain}/logout.php">Log out</a>
					{else}
						<a href="{$mostSecureDomain}/login.php" title="Log In">Log in</a>
						<a href="{$mostSecureDomain}/signup.php" title="Sign Up">Register</a>
					{/if}		
				</div>
				{if !$inHomeTab} 
					<a href="/" id="logo">
						<img src="/img/header-logo.png?v={$assetsVersion}" alt="{$siteTitle}" title="{$siteTitle}">
					</a>
				{/if}
			</div>
			<ul class="nav">
				<form action="/search.php" method="get">
					<fieldset>
						<input type="search" placeholder="Search…" name="search" {if isset($searchTerm)}value="{$searchTerm|escape}"{/if}><input type="submit" value="Search">
					</fieldset>
				</form>			
				<li class="{if $inHomeTab}current{/if}"><a href="/">Home</a></li>			
				<li class="{if $inCollectionTab}current {/if}hasChild"><a href="/map.php">Explore Parks</a></li>				
				<li class="{if $inWildlifeTab}current {/if}hasChild"><a href="/wildlife.php?month={date("n")}">Wildlife</a></li>
				<li class="{if $inWhatsOnTab}current {/if}hasChild"><a href="/whatson.php?month={date("n")}">What&rsquo;s On</a></li>				
			</ul>
			{if $inCollectionTab}
				<ul class="secondaryNav cf">
					<li class="{if $inMap}current{/if}"><a href="/map.php" title="Map">Map</a></li>
					{foreach $collections as $collection}
						<li class="{if $inCollectionId == $collection->getId()}current{/if}"><a href="/collectionAsList.php?c={$collection->getSlug()}" title="{$collection->getTitle()|escape}">{$collection->getTitle()|escape}</a></li>
					{/foreach}
				</ul>
			{/if}
			{if isset($monthlyPageURLForSubNav) && $monthlyPageURLForSubNav }
				<ul class="secondaryNav cf">
					<li class="{if $thisMonth == 1}current{/if}"><a href="{$monthlyPageURLForSubNav}1">January</a></li>
					<li class="{if $thisMonth == 2}current{/if}"><a href="{$monthlyPageURLForSubNav}2">February</a></li>
					<li class="{if $thisMonth == 3}current{/if}"><a href="{$monthlyPageURLForSubNav}3">March</a></li>
					<li class="{if $thisMonth == 4}current{/if}"><a href="{$monthlyPageURLForSubNav}4">April</a></li>
					<li class="{if $thisMonth == 5}current{/if}"><a href="{$monthlyPageURLForSubNav}5">May</a></li>
					<li class="{if $thisMonth == 6}current{/if}"><a href="{$monthlyPageURLForSubNav}6">June</a></li>
					<li class="{if $thisMonth == 7}current{/if}"><a href="{$monthlyPageURLForSubNav}7">July</a></li>
					<li class="{if $thisMonth == 8}current{/if}"><a href="{$monthlyPageURLForSubNav}8">August</a></li>
					<li class="{if $thisMonth == 9}current{/if}"><a href="{$monthlyPageURLForSubNav}9">September</a></li>
					<li class="{if $thisMonth == 10}current{/if}"><a href="{$monthlyPageURLForSubNav}10">October</a></li>
					<li class="{if $thisMonth == 11}current{/if}"><a href="{$monthlyPageURLForSubNav}11">November</a></li>
					<li class="{if $thisMonth == 12}current{/if}"><a href="{$monthlyPageURLForSubNav}12">December</a></li>
				</ul>
			{/if}
			
		</div>	

		<div id="main" class="wrapper cf">
			{block name="subpage"}{/block}
			{if $okMessage}
				<span class="msgOk">{$okMessage}</span>
			{/if}
			{if $errorMessage}
				<span class="msgError">{$errorMessage}</span>
			{/if}
			{block name="main"}{/block}
		</div>

		<div id="footer" class="wrapper cf">
			<ul class="nav">
				<li><a href="/page.php?s=about">About</a></li>
				<li><a href="/page.php?s=contact">Contact us</a></li>
				<li><a href="/termsAndConditions.php">Terms &amp; conditions</a></li>		
				<li><a href="/privacyPolicy.php">Privacy &amp; cookies</a></li>
			</ul>
			<a class="social-link facebook-icon" href="{$Config->FACEBOOK_LINK}"></a>
			<a class="social-link twitter-icon" href="https://twitter.com/{$Config->TWITTER_USERNAME}" title="Follow {$Config->SITE_TITLE} on Twitter" target="_blank"></a>

			<div class="copyright">Copyright &copy; 2012-2013</div>
		</div>


		{block name="finalScripts"}{/block}
		
	</body>
</html>


