<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
		<title>{block name="pageTitle"}{/block} {$siteTitle}</title>

		<link rel="stylesheet" href="/css/reset.css?v={$assetsVersion}" type="text/css" />
		<link rel="stylesheet" href="/css/main.css?v={$assetsVersion}" type="text/css" />
		{if $currentUser && $currentUser->isAdministrator()}
			<link rel="stylesheet" href="/css/admin/normalSite.css?v={$assetsVersion}" type="text/css" />
		{/if}
		<script src="/js/jquery-1.7.2.min.js?v={$assetsVersion}"></script>
		{if $Config->GOOGLE_ANALYTICS_CODE}
			<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', '{$Config->GOOGLE_ANALYTICS_CODE}']);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			</script>	
		{/if}
		<link rel="stylesheet" href="/css/slimbox2.css?v={$assetsVersion}" type="text/css" />
		<link rel="stylesheet" href="/css/contentflow.css?v={$assetsVersion}" type="text/css" />
	</head>
	<body {if $inHomeTab}{if $showCookieInfo}class="headerHomeShowCookie"{else}class="headerHome"{/if}{/if}>
			
		{include file="header-bar.htm"}

		<div id="main" class="wrapper cf">
			{block name="subpage"}{/block}
			{if $okMessage}
				<span class="msgOk">{$okMessage}</span>
			{/if}
			{if $okMessageBlock}
				<span class="msgOk">{CMSContent::renderBlock($okMessageBlock)}</span>
			{/if}
			{if $errorMessage}
				<span class="msgError">{$errorMessage}</span>
			{/if}
			{if $errorMessageBlock}
				<span class="msgError">{CMSContent::renderBlock($errorMessageBlock)}</span>
			{/if}
			{block name="main"}{/block}
		</div>

		{include file="footer-bar.htm"}

		{block name="finalScripts"}{/block}
		
	</body>
</html>


