


{extends file='page.htm'}

{block name="main"}
	<h2>Password reset</h2>
	<p>Please enter and confirm your new password below.</p>
	<form action="/resetPassword.php?id={$user->getId()}&c={$code}" method="post" class="account-form">
			<fieldset>
				<ol>
					<li>
						<label for="NewPassword1">New Password</label>
						<input type="password" name="NewPassword1" id="NewPassword1">
					</li>
					<li>
						<label for="NewPassword2">Repeat New Password</label>
						<input type="password" name="NewPassword2" id="NewPassword2">
					</li>
				</ol>
			</fieldset>
			<fieldset>						
				<input type="submit" value="Change Password" class="button button-teal">
			</fieldset>
	</form>


{/block}

