
	<label>
		<input type="checkbox" name="tandc" value="agree" id="tandcAgree">
		I agree to the <a rel="modal" href="/termsAndConditions.php?fromForm=1" target="_blank">terms and conditions</a>
		and the <a rel="modal" href="/privacyPolicy.php?fromForm=1"  target="_blank">website privacy policy</a> (opens in new window).
		<span class="msgError" id="tandcMustAgree" style="display: none;">You must agree to these terms in order to register.</span>
	</label>
<script type="text/javascript" src="/js/tandcAgree.js?v={$assetsVersion}"></script>


