

{extends file='page.htm'}

{block name="pageTitle"}What's on{/block}

{block name="main"}

	<h1>What's on</h1>
	
	<ul class="events">
		{while $event = $eventSearch->nextResult()}
			<li>
				<h2 class="title"><a href="/event.php?id={$event->getId()}">{$event->getTitle()|escape}</a></h2>
				<p class="description">{$event->getDescriptionText()|escape|nl2br|linkify}</p>
				<p class="datetime">{$event->getStartAt()|date_format_local} to {$event->getEndAt()|date_format_local}</p>
			</li>
		{/while}	
	</ul>
	
{/block}