{extends file="admin/page.htm"} 

{block name="content"}

	<h2>Editing Block {$block->getBlockSlug()|escape}</h2>

	<form action="" method="post">

		<input type="hidden" name="CSFRToken" value="{$CSFRToken}">

		<label for="CMSContent">Content</label>
		<textarea name="content" id="CMSContent" style="width:95%; height:400px;">{$block->getLatestVersionHTML()}</textarea>
		
		<input type="submit">

	</form>

{/block}

{block name="finalScripts"}
	<script type="text/javascript" src="/tinymce/tiny_mce.js?v={$assetsVersion}"></script>
	<script>
		$(document).ready(function(){
			tinyMCE.init({
				mode : "exact",
				theme: "advanced",
				elements : "CMSContent",
				external_link_list_url: "/admin/getPageLinkList.js.php?v={$assetsVersion}"
			});
		});
	</script>

{/block}
