{extends file="admin/page.htm"} 

{block name="content"}

	<h2>Event</h2>

	<table class="verticalData">
		<tr>
			<th>ID</th>
			<td>{$event->getID()}</td>
		</tr>
		<tr>
			<th>Deleted</th>
			<td>{if $event->getDeleted()}DELETED{/if}</td>
		</tr>
		<tr>
			<th>Title</th>
			<td>{$event->getTitle()|escape}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{$event->getDescriptionText()|escape|nl2br}</td>
		</tr>
		<tr>
			<th>Times</th>
			<td>{$event->getStartAt()|date_format_local} to {$event->getEndAt()|date_format_local}</td>
		</tr>
	</table>
	
	<table class="data">
		<tr>
			<th>ID</th>
			<th>Lat</th>
			<th>Lng</th>
			<th>&nbsp;</th>
		</tr>
		{while $feature = $featureSearch->nextResult()}
			<tr class="{cycle values="alternate,"}">
				<td><a href="/admin/feature.php?id={$feature->getId()}">{$feature->getId()}</a></td>
				<td>{$feature->getPointLat()}</td>
				<td>{$feature->getPointLng()}</td>
				<td>
					<a href="/admin/feature.php?id={$feature->getId()}">View</a>
				</td>
			</tr>
		{/while}		
	</table>
	
{/block}