{extends file="admin/page.htm"} 

{block name="content"}

	<h2>Details</h2>

	<table class="verticalData">
		<tr>
			<th>Feature</th>
			<td>{$feature->getId()}</td>
		</tr>
		<tr>
			<th>Point Lat & Lng</th>
			<td>{$feature->getPointLat()}, {$feature->getPointLng()}</td>
		</tr>
	</table>
	
	<h2>Items</h2>
	
	{if $Config->ALLOW_EDITING_COLLECTION_ITEMS_IN_ADMIN_UI}
		<ul>
		{while $collection = $collectionSearch->nextResult()}
			<li><a href="/admin/newItem.php?c={$collection->getSlug()|escape}&f={$feature->getId()}">New {$collection->getTitle()|escape} item</a></td>
		{/while}		
		</ul>
	{/if}
	
	<h2>Checkins</h2>
	
	<table class="data">
		<tr>
			<th>ID</th>
			<th>Question</th>
			<th>Sort Order</th>
		</tr>
		{foreach $feature->getCheckinQuestions() as $fciq}
			<tr class="{cycle values="alternate,"}">
				<td><a href="/admin/featureCheckinQuestion.php?id={$fciq->getId()}">{$fciq->getId()}</a></td>
				<td>{$fciq->getQuestion()|escape|nl2br}</td>
				<td>{$fciq->getSortOrder()}</td>
			</tr>
		{/foreach}
	</table>

	<ul>
		<li><a href="/admin/newFeatureCheckinQuestionFreeText.php?id={$feature->getId()}">New Free Text Question</a></li>
		<li><a href="/admin/newFeatureCheckinQuestionContent.php?id={$feature->getId()}">New Content Question</a></li>
	</ul>
{/block}