{extends file="admin/page.htm"} 

{block name="content"}

	<h2>Feature Content</h2>

	<table class="verticalData">
		<tr>
			<th>ID</th>
			<td>{$featureContent->getId()}</td>
		</tr>
		<tr>
			<th>Feature ID</th>
			<td><a href="/admin/feature.php?id={$featureContent->getFeatureId()}">{$featureContent->getFeatureId()}</a></td>
		</tr>
		<tr>
			<th>Type</th>
			<td>{if $featureContent->isReport()}Report{else}Comment{/if}</td>
		</tr>
		<tr>
			<th>From User</th>
			<td>{$featureContent->getCreatedBy()}</td>
		</tr>
		<tr>
			<th>From Name</th>
			<td>{$featureContent->getDisplayName()|escape}</td>
		</tr>
		<tr>
			<th>From Email</th>
			<td>{$featureContent->getCreatedEmail()|escape}</td>
		</tr>
		<tr>
			<th>Body</th>
			<td>{$featureContent->getBody()|escape}</td>
		</tr>
		<tr>
			<th>Image</th>
			<td>
				{if $featureContent->hasPicture()}
					<img src="{$featureContent->getNormalPictureURL()}">
				{else}None{/if}
			</td>
		</tr>
		<tr>
			<th>State</th>
			<td>
				{if $featureContent->isApproved()}
					Approved
				{else if $featureContent->isRejected()}
					Rejected
					{if $featureContent->isSpamAutomatic()}(automatically detected as SPAM){/if}
					{if $featureContent->isSpamModerated()}(moderated as SPAM){/if}
				{else}
					?
				{/if}
				<form method="post">
					<input type="hidden" name="CSFRToken" value="{$CSFRToken}">
					<input type="hidden" name="action" value="approve">
					<input type="submit" value="Approve">
				</form>
				<form method="post">
					<input type="hidden" name="CSFRToken" value="{$CSFRToken}">
					<input type="hidden" name="action" value="reject">
					<input type="submit" value="Reject">
				</form>
			</td>
		</tr>
		<tr>
			<th>Promoted</th>
			<td>
				{if $featureContent->isPromoted()}Promoted{else}Normal{/if}
			</td>
		</tr>
	</table>		
	
{/block}