{extends file="admin/page.htm"} 

{block name="content"}

	<table class="data">
		<tr>
			<th>ID</th>
			<th>Question</th>
			<th>&nbsp;</th>
		</tr>
		{while $featureContent = $featureContentSearch->nextResult()}
			<tr class="{cycle values="alternate,"}">
				<td>{$featureContent->getId()}</td>
				<td>{if $featureContent->isReport()}Report{else}Comment{/if}</td>
				<td>
					<a href="/admin/featureContent.php?id={$featureContent->getId()}">Details</a>
				</td>
			</tr>
		{/while}		
	</table>

{/block}
