{extends file="admin/page.htm"} 

{block name="content"}

<form action="" method="post">

		<input type="hidden" name="CSFRToken" value="{$CSFRToken}">
		<input type="hidden" name="action" value="newOrganisation">

		<div>
			<label for="score">Title</label>
			<input type="text" name="title" id="title" value="">
		</div>
		
		<div>
			<label for="description">Description text</label>
			<textarea name="description" id="description"></textarea>
		</div>
		
		<input type="submit">

	</form>	
{/block}