{extends file="admin/page.htm"} 

{block name="content"}

	<h2>Organisation</h2>

	<table class="verticalData">
		<tr>
			<th>ID</th>
			<td>{$organisation->getID()}</td>
		</tr>
		<tr>
			<th>Title</th>
			<td>{$organisation->getTitle()|escape}</td>
		</tr>
		<tr>
			<th>Description</th>
			<td>{$organisation->getDescriptionText()|escape|nl2br}</td>
		</tr>
	</table>
	
	
	<h2>Admins</h2>
	
	<table class="data">
		<tr>
			<th>ID</th>
			<th>Display Name</th>
			<th>Profile URL</th>			
			<th>Email</th>
			<th>Twitter ID</th>
			<th>Twitter Screen Name</th>
			<th>Enabled</th>
			<th>Admin</th>
			<th>System Admin</th>
			<th>&nbsp;</th>
		</tr>
		{while $user = $adminSearch->nextResult()}
			<tr class="{cycle values="alternate,"}">
				<td><a href="/admin/user.php?id={$user->getId()}">{$user->getId()}</a></td>
				<td>{$user->getName()|escape}</td>
				<td>{$user->getProfileURl()}</td>
				<td>{$user->getEmail()|escape}</td>
				<td>{$user->getTwitterID()|escape}</td>
				<td>{$user->getTwitterScreenName()|escape}</td>				
				<td>{if $user->isEnabled()}Yes{else}No{/if}</td>
				<td>{if $user->isAdministrator()}Yes{else}No{/if}</td>
				<td>{if $user->isSystemAdministrator()}Yes{else}No{/if}</td>
				<td>
					<a href="/admin/user.php?id={$user->getId()}">View</a>
				</td>
			</tr>
		{/while}		
	</table>


	
	<h2>Collections</h2>
	
	<table class="data">
		<tr>
			<th>Title</th>
			<th>Slug</th>
			<th>&nbsp;</th>
		</tr>
		{while $collection = $collectionSearch->nextResult()}
			<tr class="{cycle values="alternate,"}">
				<td>{$collection->getTitle()|escape}</td>
				<td>{$collection->getSlug()|escape}</td>
				<td>
					<a href="/admin/collection.php?c={$collection->getSlug()|escape}">Details</a>
					<a href="/admin/listCollection.php?c={$collection->getSlug()|escape}">List Items</a>
					<a href="/admin/collectionFields.php?c={$collection->getSlug()|escape}">Fields</a>
					<a href="/admin/listCheckinQuestionsByCollection.php?c={$collection->getSlug()|escape}">List Questions</a>
				</td>
			</tr>
		{/while}		
	</table>
{/block}

