

SITE_TITLE= "xxx"

DB_DSN = "mysql:dbname=xxxx;host=localhost"
DB_USERNAME = "xxxx"
DB_PASSWORD = "xxxx"

BCRYPT_ROUNDS = 5

EMAILS_FROM = "test@example.com"

HTTP_HOST = "localhost:20129"

MAP_STARTING_MIN_LAT = 55.878290
MAP_STARTING_MAX_LAT = 55.993363
MAP_STARTING_MIN_LNG = -3.314781
MAP_STARTING_MAX_LNG = -3.044586


; Permission Levels, -1 deny, 0 moderate, 1 publish immedietly **/
SUBMIT_CONTENT_ANYONE = 0
SUBMIT_CONTENT_USERS = 0
SUBMIT_CONTENT_ADMINISTRATORS = 1

TWITTER_APP_KEY = "xxx"
TWITTER_APP_SECRET = "xxx"
TWITTER_USERNAME="xxxx"
TWITTER_USER_KEY = "xxx"
TWITTER_USER_SECRET = "xxx"


GOOGLE_MAP_API_KEY="xxk"
